body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 600px;
    padding: 24px 32px;
    border: 2px solid black;
    border-radius: 25px;
}

.calc-screen {
    display: flex;
    height: 20%;
    width: 100%;
    padding: 24px;
    border: 2px solid black;
    border-radius: 25px;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    padding: 24px;
    border: 2px solid black;
    border-radius: 25px;
}

.calc-button {
    flex: none;
    height: 15%;
    width: 20%;
    padding: 0;
    margin: 0;
}