body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    min-height: 200px;
    min-width: 300px;
    border: 2px solid black;
}